name: release-please

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json

  publish:
    needs: [release-please]
    if: needs.release-please.outputs.release_created
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nuget/setup-nuget@v2
      - uses: microsoft/setup-msbuild@v2
      - name: Sync NuGet packages
        run: nuget restore 'Catppuccin VS Themes'
      - name: Build
        run: msbuild /p:configuration=Release /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal 'Catppuccin VS Themes'
      - name: Upload Artifact to GitHub Release
        env:
            GH_TOKEN: ${{ github.token }}
        run: gh release upload ${{ needs.release-please.outputs.tag_name }} "Catppuccin VS Themes\bin\Release\Catppuccin for Visual Studio.vsix"
      - name: Publish to Visual Studio Marketplace
        env:
          VS_MARKETPLACE_TOKEN: ${{ secrets.VS_MARKETPLACE_TOKEN }}
        run: |
          VsixPublisher.exe publish -payload "Catppuccin VS Themes\bin\Release\Catppuccin for Visual Studio.vsix" -publishManifest "Catppuccin VS Themes\marketplace.json" -personalAccessToken "$env:VS_MARKETPLACE_TOKEN"
